.App__DatePicker
  margin-left: 24px
  margin-right: 12px
  padding: 4px
  font-size: 1,2rem
  font-weight: bold
  text-align: center
  width: 72px

.App__DatePicker-wrapper
  background-color: aliceblue
  padding: 18px 24px
  width: 300px
  border-radius: 0 12px 12px 0
  border: solid black 2px 
  label
    text-transform: uppercase
    font-size: 0.8rem
    font-weight: bold

